#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.card-header {
  background-color: rgba(167, 223, 246, 0.51)
}
.navbar-custom {
  background-color: rgba(254, 243, 115, 0.8)
}
.ag-theme-balham .ag-header {
  background-color: rgba(254, 243, 115, 0.8)
}
.dimmed {
  opacity: 0.2
}