<template>
  <div class="card mt-4">
    <div class="card-header">
      <h5 class="card-title">{{ $t("register_plhiv") }}</h5>
    </div>
    <div class="card-body" v-if="uiState === 'initialising'">
      <div class="alert alert-info">
        <div class="text-center">{{ $t("loading") }}</div>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated"
               role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      </div>
    </div>
    <div class="card-body" v-if="uiState === 'failedinit'">
      <div class="alert alert-danger">
        <div class="text-center">{{ $t("failed_data_load") }}</div>
      </div>
    </div>
    <div class="card-body" v-if="['initialising','failedinit'].indexOf(uiState) === -1">
      <p>{{ $t("plhiv_instructions_2") }}</p>
      <form @submit.prevent="createTei">
        <div class="form-group">
          <label for="fullName">
            {{ $t("full_name") }}<span class="req">*</span>
          </label>
          <div class="alert alert-danger mb-1" v-if="!isTeiNameValid()">
            {{fullNameFailureMsg}}
          </div>
          <input class="form-control" type="text" id="fullName" v-model="fullName" maxlength="200" ref="fullNameInput" :class="{'invalid-input': !isTeiNameValid()}">
        </div>
        <label>
          {{ $t("date_of_birth") }} <span class="req">*</span>
        </label>
        <div class="form-inline">
          <label for="day" class="ml-3 mr-1">
            {{ $t("day") }}:
          </label>
          <select id="day" class="form-control" v-model="selectedDobDay">
            <option disabled value="">{{ $t("day") }}</option>
            <option v-for="n in 31" :key="n" :value="('0' + n).substr(-2)">{{n}}</option>
          </select>
          <label for="month" class="ml-3 mr-1">
            {{ $t("month") }}:
          </label>
          <select id="month" class="form-control" v-model="selectedDobMonth">
            <option disabled value="">{{ $t("month") }}</option>
            <option v-for="n in 12" :key="n" :value="('0' + n).substr(-2)">{{n}}</option>
          </select>
          <label for="year" class="ml-3 mr-1">
            {{ $t("year") }}:
          </label>
          <select id="year" class="form-control" v-model="selectedDobYear">
            <option disabled value="">{{ $t("year") }}</option>
            <option v-for="n in years" :key="n">{{n}}</option>
          </select>
        </div>
        <div v-if="!isDobValidIfSupplied()" class="alert alert-danger mt-2">
          {{ $t("dob_earlier_than_today") }}
        </div>
        <div class="form-group">
          <label for="gender">
            {{ $t("gender") }}<span class="req">*</span>
          </label>
          <select id="gender" class="form-control" v-model="selectedGender">
            <option disabled value="">{{ $t("please_select") }}</option>
            <option v-for="curr in genders" :key="curr.code" :value="curr.code">{{curr.displayName}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="orgUnit">
            {{ $t("ward_or_group") }}<span class="req">*</span>
          </label>
          <select id="orgUnit" class="form-control" v-model="selectedOrgUnit" v-on:change="onOrgUnitSelected">
            <option disabled value="">{{ $t("please_select") }}</option>
            <option v-for="curr in wardsAndGroups" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="ctc">
            {{ $t("ctc_format") }}<span v-if="isCtcRequired" class="req">*</span>
          </label>
          <div class="alert alert-danger mb-1" v-if="!isCtcValid()">
            {{ctcFailureMsg}}
          </div>
          <input class="form-control" type="text" id="ctc" v-model="ctc" maxlength="200" :class="{'invalid-input': !isCtcValid()}">
        </div>
        <button class="btn btn-primary mb-2" :disabled="!isFormValid()" type="submit">{{ $t("create") }}</button>
        <button class="btn btn-link mb-2" v-on:click="reset">{{ $t("reset") }}</button>
      </form>
      <span class="text-muted" v-if="!isFormValid()">{{ $t("please_enter_1") }} (<span class="req">*</span>) {{ $t("please_enter_2") }} </span>
      <div class="alert alert-info" v-if="uiState === 'creating'">
        {{ $t("new_record") }}
      </div>
      <div class="alert alert-success" v-if="uiState === 'success'">
        {{ $t("new_beneficiary_record_success") }}
      </div>
      <div class="alert alert-danger" v-if="uiState === 'failed'">
        {{ $t("new_beneficiary_record_failure") }}
      </div>
      <div class="alert alert-danger" v-if="uiState === 'failed_duplicate'">
        {{ $t("new_beneficiary_record_failure_duplicate") }}
      </div>
      <div class="alert alert-danger" v-if="uiState === 'failed_ctc_collision'">
        {{ $t("failed_ctc_collision") }}
        <zonal-msg class="mt-2" :ctc="collidedCtc" />
      </div>
      <div class="alert alert-danger" v-if="uiState === 'failed_409_not_ctc'">
        {{ $t("failed_409_not_ctc") }}
      </div>
    </div>
  </div>
</template>

<script>
import { CreateTei } from './CreateTei'
export default CreateTei
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

.req {
  color: red;
  margin-left: 0.1em;
}

.invalid-input {
  border-color: red;
  background-color: pink;
}
</style>
