<template>
  <div class="card mt-4">
    <div class="card-header">
      <h3 class="card-title">{{ $t("de_view_all_entered_data") }}</h3>
    </div>
    <div class="card-body" v-if="uiState === 'loading'">
      <div class="alert alert-info" role="alert">
        <p class="text-center">{{ $t("loading") }}</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      </div>
    </div>
    <div class="card-body" v-if="uiState === 'loadingfailed'">
      <div class="alert alert-danger" role="alert">{{ $t("failed_data_load") }}</div>
    </div>
    <div class="card-body" v-if="isLoadedSuccessfully()">
      <p>{{ $t("dump_all_data_msg") }}</p>
      <div class="form-group">
        <label for="ward">{{ $t("ward") }}:</label>
        <select id="ward" class="form-control" v-model="selectedOrgUnitCode" v-on:change="onWardSelected">
          <option disabled value="">{{ $t("please_select") }}</option>
          <option :value="clusterId">{{ $t("all_wards") }}</option>
          <option v-for="curr in wards" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
        </select>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="period-start">{{ $t("start_reporting_period") }}:</label>
            <select id="period-start" class="form-control" v-model="periodStart" v-on:change="onPeriodStartSelected">
              <option disabled value="">{{ $t("please_select") }}</option>
              <option v-for="curr in periods" :key="curr" :value="curr">{{curr}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="period-end">{{ $t("end_reporting_period") }}:</label>
            <select id="period-end" class="form-control" v-model="periodEnd">
              <option disabled value="">{{ $t("please_select") }}</option>
              <option v-for="curr in endPeriods" :key="curr" :value="curr">{{curr}}</option>
            </select>
          </div>
        </div>
      </div>
      <div v-if="uiState === 'preparingForm'" class="alert alert-info" role="alert">
        <p class="text-center">{{ $t("preparing_forms_1") }} {{processedFormCount}} / {{totalFormCount}} {{ $t("preparing_forms_2") }}</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      </div>
      <div class="alert alert-success" v-if="uiState === 'success'">
        {{ $t("success_check_downloads") }}
      </div>
      <div class="alert alert-danger" v-if="uiState === 'failed'">
        {{ $t("de-failed-download") }}
      </div>
      <div class="text-muted" v-if="!isFormValid()">{{ $t("please_enter_all_values") }}</div>
      <button class="btn btn-primary mt-1" v-on:click="doDownload" :disabled="!isFormValid()">
        {{ $t("download_readonly_data") }}
      </button>
    </div>
  </div>
</template>

<script>
import { DataEntryFormsDump } from './DataEntryFormsDump'
export default DataEntryFormsDump
</script>

<style scoped>
</style>
