<template>
  <div>
    <input-upload-form :workbook-processor="workbookProcessorFn" v-on:display-summary="onDisplaySummary" />
    <div v-show="isShowSummary" class="mt-3 alert alert-success">
      <h5 class="text-center">{{ $t("upload_summary") }}</h5>
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th>{{ $t("de_new") }}</th>
            <th>{{ $t("updated") }}</th>
            <th>{{ $t("de_total") }}</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="curr in Object.keys(uploadSummary)" :key="curr">
            <td>{{ $t("de_form") }} {{curr}}</td>
            <td>{{uploadSummary[curr].new}}</td>
            <td>{{uploadSummary[curr].updated}}</td>
            <td>{{uploadSummary[curr].new + uploadSummary[curr].updated}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import { DataEntryUploadForms } from './DataEntryUploadForms'
export default DataEntryUploadForms
</script>

<style scoped>
</style>
