<template>
  <div class="card mt-4">
    <div class="card-header">
      <h3 class="card-title">{{ $t("rename_empowerment_group") }}</h3>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="group">
          {{ $t("empowerment_group_to_rename") }}
        </label>
        <div v-if="uiState === 'fetching'" class="alert alert-info" role="alert">
          {{ $t("loading") }}
        </div>
        <div v-if="uiState === 'fetchingfailed'" class="alert alert-danger" role="alert">
          {{ $t("failed_to_load_eg_names") }}
        </div>
        <select v-model="selectedGroup" id="group" v-show="isDisplayOptions()" class="form-control">
          <option v-for="curr in groups" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="newName">
          {{ $t("new_group_name") }}
        </label>
        <input type="text" v-model="newGroupName" id="newName" class="form-control" maxlength="200" />
      </div>
      <div v-if="uiState === 'failed'" class="alert alert-danger" role="alert">
        {{ $t("failed_to_rename_eg") }}
      </div>
      <div v-if="uiState === 'renaming'" class="alert alert-info" role="alert">
        {{ $t("processing") }}
      </div>
      <div v-if="uiState === 'success'" class="alert alert-success" role="alert">
        {{ $t("successfully_renamed_eg") }}
      </div>
      <div class="text-muted" v-if="!isValid()">{{ $t("please_enter_all_values") }}</div>
      <button class="btn btn-primary mt-3" v-on:click="doRename" :disabled="!isValid()">
        {{ $t("rename") }}
      </button>
    </div>
  </div>
</template>

<script>
import { EmpGroupRename } from './EmpGroupRename'
export default EmpGroupRename
</script>

<style scoped>
</style>
