<template>
  <div class="card mt-4">
    <div class="card-header">
      <h3 class="card-title">{{ $t("em_search_groups") }}</h3>
    </div>
    <div class="card-body">
      <div class="alert alert-info" v-if="uiStatus === 'loading'">
        {{ $t("loading") }}
      </div>
      <div class="alert alert-danger" v-if="uiStatus === 'failed'">
        {{ $t("failed_data_load") }}
      </div>
      <ag-grid-vue
        v-if="uiStatus === 'success'"
        class="ag-theme-balham the-grid"
        :columnDefs="columnDefs"
        :rowData="rowData"
        :enableSorting="true"
        :enableFilter="true"
        :enableColResize="true"
        :defaultColDef="defaultColDef"
        :getRowHeight="getRowHeight"
        :gridReady="onGridReady"
        :cellDoubleClicked="cellDoubleClicked"
        :filterChanged="onGridFilterChanged"
        :localeText="getLocaleText()"
        />
    </div>
  </div>
</template>

<script>
import { EmpGroupSearch } from './EmpGroupSearch'
export default EmpGroupSearch
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

.the-grid {
  width: 100%;
  height: 50em;
}
</style>
