<template>
  <div class="card mt-4">
    <div class="card-header">
      <h3 class="card-title">{{ $t("delete_empowerment_group") }}</h3>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="group">
          {{ $t("empowerment_group_to_delete") }}
        </label>
        <div v-if="uiState === 'fetching'" class="alert alert-info" role="alert">
          {{ $t("loading") }}
        </div>
        <div v-if="uiState === 'fetchingfailed'" class="alert alert-danger" role="alert">
          {{ $t("failed_to_load_eg_names") }}
        </div>
        <select v-model="selectedGroup" id="group" v-show="isDisplayOptions()" class="form-control">
          <option v-for="curr in groups" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
        </select>
      </div>
      <div v-if="uiState === 'failednotempty'" class="alert alert-danger" role="alert">
         {{ $t("failed_to_delete_non_empty_eg_1") }} {{memberTeiCount}} {{ $t("failed_to_delete_non_empty_eg_2") }}
      </div>
      <div v-if="uiState === 'failed'" class="alert alert-danger" role="alert">
        {{ $t("failed_to_delete_eg") }}
      </div>
      <div v-if="uiState === 'deleting'" class="alert alert-info" role="alert">
        {{ $t("processing") }}
      </div>
      <div v-if="uiState === 'success'" class="alert alert-success" role="alert">
        {{ $t("successfully_deleted_eg") }}
      </div>
      <div class="text-muted" v-if="!isValid()">{{ $t("please_enter_all_values") }}</div>
      <button class="btn btn-primary mt-3" v-on:click="doDelete" :disabled="!isValid()">
        {{ $t("delete") }}
      </button>
    </div>
  </div>
</template>

<script>
import { EmpGroupDelete } from './EmpGroupDelete'
export default EmpGroupDelete
</script>

<style scoped>
</style>
