<template>
  <div>
    <div class="form-group">
      <label for="the-form">{{ $t("select_completed_form") }}</label>
      <input id="the-form"
             type="file"
             ref="completedForm"
             v-on:change="completedFormSelected"
             class="form-control"
             accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
    </div>
    <div v-if="uiState === availableUiStates.failRead" class="alert alert-danger" role="alert">
      {{ $t("error_reading_supplied_file") }}
    </div>
    <div v-if="uiState === availableUiStates.failVersion" class="alert alert-danger" role="alert">
      {{ $t("error_invalid_upload_version") }}
    </div>
    <div v-if="uiState === availableUiStates.failProcessUser" class="alert alert-danger" role="alert">
      {{ $t("error_failed_to_validate_uploaded_file") }}
      <ol>
        <li v-for="curr in validationFailures" v-bind:key="curr">{{ curr }}</li>
      </ol>
    </div>
    <div v-if="uiState === availableUiStates.failProcessSystem" class="alert alert-danger" role="alert">
      {{ $t("error_when_validating_our_fault") }}
    </div>
    <div v-if="uiState === availableUiStates.success" class="alert alert-success" role="alert">
      {{ $t("successfully_uploaded_and_validated") }}
    </div>
    <div class="alert alert-info" v-if="uiState === availableUiStates.loading">
      <div class="text-center">{{ $t("processing") }}</div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated"
             role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
    </div>
    <div class="text-muted" v-if="!completedForm">{{ $t("please_enter_all_values") }}</div>
    <button class="btn btn-primary" v-on:click="processSpreadsheet" :disabled="!completedForm">{{ $t("validate_upload_process") }}</button>
  </div>
</template>

<script>
import { InputUploadForm } from './InputUploadForm'
export default InputUploadForm
</script>

<style scoped>
</style>
