<template>
  <div class="card mt-4">
    <div class="card-header">
      <h3 class="card-title">{{ $t("de_zonal_view_all_entered_data") }}</h3>
    </div>
    <div class="card-body" v-if="uiState === 'loading'">
      <div class="alert alert-info" role="alert">
        <p class="text-center">{{ $t("loading") }}</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      </div>
    </div>
    <div class="card-body" v-if="uiState === 'loadingfailed'">
      <div class="alert alert-danger" role="alert">{{ $t("failed_data_load") }}</div>
    </div>
    <div class="card-body" v-if="isLoadedSuccessfully()">
      <p>{{ $t("dump_all_data_msg") }}</p>
      <p>{{ $t("zonal_dump_all_data_msg") }}</p>
      <div class="text-center">
        <button class="btn btn-light" @click="doSelectAll">
          <i class="far fa-check-square"></i> {{ $t("select_all") }}
        </button>
        <button class="btn btn-light" @click="doUnselectAll">
          <i class="far fa-square"></i> {{ $t("unselect_all") }}
        </button>
      </div>
      <div class="form-group" v-for="currZone in zonesAndClusters" :key="currZone.zone">
        <h3>{{currZone.zone}}</h3>
        <button class="btn btn-light" @click="doSelectAllZone(currZone)">
          <i class="far fa-check-square"></i> {{ $t("select_all") }}
        </button>
        <button class="btn btn-light" @click="doUnselectAllZone(currZone)">
          <i class="far fa-square"></i> {{ $t("unselect_all") }}
        </button>
        <div class="row">
          <div v-for="currCluster in currZone.clusters" :key="currCluster.id" class="col-sm-6">
            <input type="checkbox" :id="'cluster-' + currCluster.id" :value="currCluster.id" v-model="selectedClusters">
            <label :for="'cluster-' + currCluster.id">{{ currCluster.clusterName }}</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label for="period-start">{{ $t("start_reporting_period") }}:</label>
            <select id="period-start" class="form-control" v-model="periodStart" v-on:change="onPeriodStartSelected">
              <option disabled value="">{{ $t("please_select") }}</option>
              <option v-for="curr in periods" :key="curr" :value="curr">{{curr}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <label for="period-end">{{ $t("end_reporting_period") }}:</label>
            <select id="period-end" class="form-control" v-model="periodEnd">
              <option disabled value="">{{ $t("please_select") }}</option>
              <option v-for="curr in endPeriods" :key="curr" :value="curr">{{curr}}</option>
            </select>
          </div>
        </div>
      </div>
      <div v-if="uiState === 'preparingForm'" class="alert alert-info" role="alert">
        <p class="text-center">{{ $t("preparing") }} {{processedClusterCount}} / {{selectedClusters.length}}</p>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
        </div>
      </div>
      <div class="alert alert-success" v-if="uiState === 'success'">
        {{ $t("success_check_downloads") }}
      </div>
      <div class="alert alert-danger" v-if="uiState === 'failed'">
        {{ $t("de-failed-download") }}
      </div>
      <div class="text-center">
        <div class="text-muted" v-if="!isFormValid()">{{
          $t("please_select_cluster_and_date") }}
        </div>
        <button class="btn btn-primary mt-1" v-on:click="doDownload" :disabled="!isFormValid()">
          {{ $t("download_readonly_data") }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { ZonalDataDump } from './ZonalDataDump'
export default ZonalDataDump
</script>
