<template>
  <div class="card">
    <div class="card-body">
      <div class="card-title"><h5>{{ $t("msg-to-zonal-user") }}</h5></div>
      <div class="card-text">
        <div class="form-group">
          <label for="ctcCollisionSubject">{{ $t("subject") }}:</label>
          <input type="text" :disabled="true" :value="msgSubject" class="form-control" />
        </div>
        <div class="form-group">
          <label for="ctcCollisionMessage">{{ $t("message") }}:</label>
          <textarea v-model="msg" class="form-control" id="ctcCollisionMessage" rows="3"></textarea>
        </div>
      </div>
      <div class="alert alert-info" v-if="uiState === 'sending'">{{ $t("sending") }}</div>
      <div class="alert alert-success" v-if="uiState === 'success'">{{ $t("msg-sent") }}</div>
      <div class="alert alert-danger" v-if="uiState === 'failed'">{{ $t("fail-msg-send") }}</div>
      <button class="btn btn-primary mt-2" v-on:click="sendZonalUserMsg">{{ $t("send") }}</button>
    </div>
  </div>
</template>

<script>
import { ZonalMsg } from './ZonalMsg'
export default ZonalMsg
</script>

<style scoped>
</style>
