<template>
  <div>
    <div class="container" v-if="!isAuthd">
      <div class="row">
        <div class="col-sm text-center">
          <form @submit.prevent="onUnlock">
            <div class="alert alert-warning">{{ $t("admin_password") }}</div>
            <div v-if="isPasswordFail" class="alert alert-danger">{{ $t("invalid_password") }}</div>
            <div class="form-group">
              <label htmlFor="password">Password</label>
              <input type="password" v-model="password" name="password" class="form-control nacopha_password mb-1"
              @keydown="resetPasswordFail" />
            </div>
            <button class="btn btn-primary" type="submit">{{ $t("unlock") }}</button>
          </form>
        </div>
      </div>
    </div>
    <div class="container" v-if="isAuthd">
      <div class="row">
        <div class="col-sm text-center">
            <h1>Admin</h1>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-sm-8">
          <div v-if="isLoading">
            <h3 class="text-center">Loading...</h3>
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" v-if="!isLoading">
        <div class="col-sm-12">
          <button class="btn btn-link" v-if="!isShowTemplateHelp" v-on:click="isShowTemplateHelp = true">Show help</button>
          <div v-if="isShowTemplateHelp" class="card card-body mt-4">
            <h3>Instructions for data entry form template</h3>
            <ul>
              <li><strong>Template version:</strong> the version is maintained in code. If you make a breaking change to the template,
                chances are you'll need code updates to match. The data entry template version lives <a href="https://bitbucket.org/atokmakoff/nacopha-offline-collection/src/f50bc5f8789ce920e22e2badb7eada9dea02f752/src/components/common.js#lines-4" target="_blank">here</a>.
                When you change this value, <em>ANY</em> form with a non-matching value will be rejected. This means users who have completed, but
                not uploaded, forms will have to download a new form and move their data over.</li>
              <li>Upload a single template file. It should be a .xlsx spreadsheet that's written with LibreOffice Calc v6.0. There should be one worksheet per form. If you don't create enough sheets in the template, the server will create the extras with no styling.</li>
              <li>Ensure that the order of your column headers matches the order on the DHIS server. To verify this, upload your template then download the completed form. Open the form and remove the protection from the sheet. Now, you can click in the row you marked as HIDDENCONFIG and you'll see in the formula bar the column that the server expects.</li>
              <li>Set correct scroll position when saving, scroll to top. The server can't adjust the saved scroll position.</li>
              <li>Add all the required markers to each form
                <ol>
                  <li><strong>!HIDDENCONFIG</strong>: the row of header IDs. Place it on an empty row, above the visible headers.</li>
                  <li><strong>!DATASTART</strong>: first row of data entry</li>
                  <li><strong>!DATAEND</strong>: last row of data entry</li>
                  <li><strong>!REGION</strong>: replaced with form's region</li>
                  <li><strong>!DISTRICT</strong>: replaced with form's district</li>
                  <li><strong>!CLUSTER</strong>: replaced with form's cluster</li>
                  <li><strong>!WARD</strong>: replaced with form's ward</li>
                  <li><strong>!PERIOD</strong>: replaced with selected reporting period</li>
                  <li><strong>!CHECK_ABOVE</strong>: needs to be placed in the cell *under* the "form check" cell that has the output for the in-form validation macro. The marker will be deleted so it won't show up in the download. Values &lt; 0 indicate an error.</li>
                </ol>
              </li>
              <li>Make all cells other than the data entry cells protected.</li>
              <li>Ensure data entry cells aren't protected.</li>
              <li>Mark sheets as protected, only allowing <em>un</em>protected cells to be selected.</li>
              <li>Ensure columns that have wide input have plenty of width to fit the entire values. Once the sheet is locked, width cannot be adjusted.</li>
              <li>Give the data entry cells some distinctive formatting, like a background colour.</li>
              <li>Mark date data entry cells as date format, using dd/mm/yyyy.</li>
              <li>
                Add validity checks to date data entry cells. Use the menu item (in Libre Calc) Data -&gt; Validity
                <ul>
                  <li>on the 'criteria' tab, set:
                    <dl>
                      <dt>Allow</dt><dd>Date</dd>
                      <dt>Allow empty cells</dt><dd>yes</dd>
                      <dt>Data</dt><dd>valid range</dd>
                      <dt>Minimum</dt><dd>01/01/2010 (or 40179 if rendered as a number)</dd>
                      <dt>Maximum</dt><dd>30/12/2099 (or 73049 if rendered as a number)</dd>
                    </dl>
                  </li>
                  <li>on the 'error alert' tab, set:
                    <dl>
                      <dt>Show error message...</dt><dd>yes</dd>
                      <dt>Action</dt><dd>stop</dd>
                      <dt>Title</dt><dd>incorrect date format</dd>
                      <dt>Error message</dt><dd>Please ensure that dates are formatted like: dd/mm/yyyy  For example: 01/01/2018 18/12/2019</dd>
                    </dl>
                  </li>
                </ul>
              </li>
            </ul>
            <h4>How the template will be processed</h4>
            <p>The server will use the template as a starting point. It will write a hidden row (white text on white background) of configuration data that is only used during the upload processing. The end user won't see this. The main processing is to define the validation for all the data input cells. The list of possible values will be provided as autocomplete for each cell in the input range (by pre-populating the valid options in a hidden rows in each column, in a protected row).</p>
            <p>The server can write to protected cells but users of the spreadsheet cannot. It's important that you check that all data entry cells are writable.</p>
            <p>The server <em>will not</em> read your column headers. It will just assume that they're in the same order as the form that's configured in DHIS. The template needs to match the DHIS configuration. You can look at the values written to the HIDDENCONFIG row to confirm that your columns matach what the server will process them as.</p>
          </div>
        </div>
        <div class="col-sm-12">
          <div v-if="isShowTemplateHelp" class="card card-body mt-4">
            <h3>Instructions for empowerment group form template</h3>
            <ul>
              <li>TODO - write lots more</li>
              <li>There will be a fixed number of rows generated, one for each TEI in the group.</li>
              <li>Add all the required markers
                <ol>
                  <li><strong>!HIDDENCONFIG</strong>: the row of header IDs. Place it on an empty row, above the visible headers.</li>
                  <li><strong>!DATASTART</strong>: first row of data entry</li>
                  <li><strong>!CLUSTER</strong>: replaced with form's cluster</li>
                  <li><strong>!WARD</strong>: replaced with form's ward</li>
                  <li><strong>!EG</strong>: replaced with form's empowerment group</li>
                </ol>
              </li>
            </ul>
            <p>Currently the list of columns is managed <a href="https://bitbucket.org/atokmakoff/nacopha-offline-collection/src/f50bc5f8789ce920e22e2badb7eada9dea02f752/src/components/EmpGroupMgmt.js#lines-394" target="_blank">in code</a>.
              It needs to be moved here so it can be dynamic but there were time pressures.</p>
            <p><strong>Template version:</strong> the version is maintained in code. If you make a breaking change to the template,
              chances are you'll need code updates to match. The EG template version lives <a href="https://bitbucket.org/atokmakoff/nacopha-offline-collection/src/f50bc5f8789ce920e22e2badb7eada9dea02f752/src/components/EmpGroupMgmt.js#lines-7" target="_blank">here</a>.
              When you change this value, <em>ANY</em> form with a non-matching value will be rejected. This means users who have completed, but
              not uploaded, forms will have to download a new form and move their data over.</p>
          </div>
        </div>
        <div class="col-sm-12">
          <div v-if="isShowTemplateHelp" class="card card-body mt-4 mb-4">
            <h3>Instructions for "dump all data" form template</h3>
            <ul>
              <li>TODO - write lots more</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" v-if="!isLoading">
        <div class="col-sm-6">
          <form-mgmt v-bind:template-filename-fragment="empGroupFormFilename"
            program-name="Sauti Yetu" template-type-name="Empowerment group" />
        </div>
      </div>
      <div class="row justify-content-center" v-if="!isLoading" v-for="curr in programs" :key="curr.id">
        <div class="col-sm-6">
          <form-mgmt v-bind:template-filename-fragment="buildDataEntryTemplateKey(curr.id)"
            :program-name="curr.displayName" template-type-name="Data entry" />
        </div>
        <div class="col-sm-6">
          <form-mgmt v-bind:template-filename-fragment="buildDumpAllDataTemplateKey(curr.id)"
            :program-name="curr.displayName" template-type-name="Dump all data" />
        </div>
      </div>
      <div class="row justify-content-center" v-if="!isLoading">
        <div class="col-sm-8">
          <div class="card mt-4">
            <div class="card-header">
              <h3 class="card-title">Tracked Entity Instance Type mappings</h3>
            </div>
            <div class="card-body">
              <div>
                <label>
                  Person type
                  <select v-model="personTeiType">
                    <option v-for="curr in teiTypes" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
                  </select>
                </label>
              </div>
              <button class="btn btn-primary mb-1" v-on:click="saveTeiTypeMappings" :disabled="!personTeiType">
                Save TEI type mappings
              </button>
              <div v-if="teiTypeMappingSaveState === 'failed'" class="alert alert-danger" role="alert">
                Failed to save TEI type mappings, check console.
              </div>
              <div v-if="teiTypeMappingSaveState === 'success'" class="alert alert-success" role="alert">
                TEI type mapping save completed!
              </div>
            </div>
          </div>
          <div class="card mt-4">
            <div class="card-header">
              <h3 class="card-title">Constant mappings</h3>
            </div>
            <div class="card-body">
              <div>
                <label>
                  "yes" constant
                  <select v-model="yesConstantId">
                    <option v-for="curr in constants" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
                  </select>
                </label>
              </div>
              <div>
                <label>
                  "no" constant
                  <select v-model="noConstantId">
                    <option v-for="curr in constants" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
                  </select>
                </label>
              </div>
              <button class="btn btn-primary mb-1" v-on:click="saveConstantMappings" :disabled="!yesConstantId || !noConstantId">
                Save constant ID mappings
              </button>
              <div v-if="constantMappingSaveState === 'failed'" class="alert alert-danger" role="alert">
                Failed to save constant ID mappings, check console.
              </div>
              <div v-if="constantMappingSaveState === 'success'" class="alert alert-success" role="alert">
                Constant ID mapping save completed!
              </div>
            </div>
          </div>
          <div class="card mt-4">
            <div class="card-header">
              <h3 class="card-title">Tracked entity attribute mapping</h3>
            </div>
            <div class="card-body">
              <div>
                <label>
                  Date of birth attribute
                  <select v-model="dobAttributeId">
                    <option v-for="curr in attrs" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
                  </select>
                </label>
              </div>
              <div>
                <label>
                  Full name attribute
                  <select v-model="fullNameAttributeId">
                    <option v-for="curr in attrs" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
                  </select>
                </label>
              </div>
              <div>
                <label>
                  NACOPHA ID attribute
                  <select v-model="nacophaIdAttributeId">
                    <option v-for="curr in attrs" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
                  </select>
                </label>
              </div>
              <div>
                <label>
                  CTC attribute
                  <select v-model="ctcAttributeId">
                    <option v-for="curr in attrs" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
                  </select>
                </label>
              </div>
              <div>
                <label>
                  Gender attribute
                  <select v-model="genderAttributeId">
                    <option v-for="curr in attrs" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
                  </select>
                </label>
              </div>
              <button class="btn btn-primary mb-1" v-on:click="saveAttributeMappings" :disabled="!isAllAttrsSelected()">
                Save attribute ID mappings
              </button>
              <div v-if="attrMappingSaveState === 'failed'" class="alert alert-danger" role="alert">
                Failed to save attribute ID mappings, check console.
              </div>
              <div v-if="attrMappingSaveState === 'success'" class="alert alert-success" role="alert">
                Attribute ID mapping save completed!
              </div>
            </div>
          </div>
          <org-unit-group />
          <div class="card mt-4">
            <div class="card-header">
              <h3 class="card-title">Program mapping</h3>
            </div>
            <div class="card-body">
              <p>This should be the <em>main</em> Sauti Yetu program that we have the built in
                support for. All other programs are considered "generic" and are handled in a
                generic way.</p>
              <div>
                <label>
                  Main Sauti Yetu Program
                  <select v-model="selectedProgram">
                    <option v-for="curr in programs" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
                  </select>
                </label>
              </div>
              <button class="btn btn-primary mb-1" v-on:click="saveProgramMappings" :disabled="!isAllProgramsSelected()">
                Save program ID mappings
              </button>
              <div v-if="programMappingSaveState === 'failed'" class="alert alert-danger" role="alert">
                Failed to save program ID mappings, check console.
              </div>
              <div v-if="programMappingSaveState === 'success'" class="alert alert-success" role="alert">
                Program ID mapping save completed!
              </div>
            </div>
          </div>
          <data-elements></data-elements>
          <div class="card mt-4">
            <div class="card-header">
              <h3 class="card-title">Enrol a TEI</h3>
            </div>
            <div class="card-body">
              <p>Enrols the specified TEI in the selected program using the supplied date. The enrollment uses the orgUnit currently
              assigned to the TEI. Also, we don't supply an incidentDate.</p>
              <div class="form-group">
                <label for="program1">
                  Program
                </label>
                <select v-model="enrolTeiProgram" id="program1" class="form-control">
                  <option v-for="curr in programs" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
                </select>
              </div>
              <div class="form-group">
                <label for="enrolTeiId">
                  TEI ID
                </label>
                <input v-model="enrolTeiId" id="enrolTeiId" type="text" maxlength="11" class="form-control" />
              </div>
              <div class="form-group">
                <label for="enrolTeiDate">
                  Enrol date (yyyy-mm-dd)
                </label>
                <input v-model="enrolTeiDate" id="enrolTeiDate" type="text" maxlength="10" class="form-control" />
              </div>
              <button class="btn btn-primary mb-3" v-on:click="enrolTei" :disabled="!isEnrolTeiFormValid()">
                Enrol TEI
              </button>
              <div v-if="enrolTeiState === 'loading'" class="alert alert-info" role="alert">
                Processing...
              </div>
              <div v-if="enrolTeiState === 'failed'" class="alert alert-danger" role="alert">
                Failed to enrol TEI, check console
              </div>
              <div v-if="enrolTeiState === 'success'" class="alert alert-success" role="alert">
                TEI enrolled
              </div>
            </div>
          </div>
          <org-attributes />
          <zone-label-prefix />
          <max-periods />
          <p>Link to <a href="/dhis-web-tracker-capture/index.html">DHIS UI</a>.</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { AdminComponent } from './Admin'
export default AdminComponent
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}

.nacopha_password {
  max-width: 10em;
  display: inline-block;
}
</style>
