<template>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1 class="text-center">{{ $t("data_entry_forms") }}</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <div v-if="isError" class="alert alert-danger" role="alert">
          {{ $t("error") }}
        </div>
        <div v-if="isLoading">
          <h3 class="text-center">{{ $t("loading") }}</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" v-if="!isLoading">
      <div class="col-sm-8">
        <div class="card mb-4">
          <div class="card-header">
            <h5 class="card-title">{{ $t("data_entry_forms") }}</h5>
          </div>
          <div class="card-body">
            <h6 class="text-center"><strong>{{ $t("download_form") }}</strong></h6>
            <div class="form-group">
              <label for="ward">{{ $t("ward") }}:</label>
              <select id="ward" class="form-control" v-model="selectedWardCode" v-on:change="onWardSelected">
                <option disabled value="">{{ $t("please_select") }}</option>
                <option v-for="curr in wards" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="period">{{ $t("reporting_period") }}:</label>
              <select id="period" class="form-control" v-model="period">
                <option disabled value="">{{ $t("please_select") }}</option>
                <option v-for="curr in periods" :key="curr" :value="curr">{{curr}}</option>
              </select>
            </div>
            <div v-if="uiStatus === 'preparingForm'" class="alert alert-info" role="alert">
              <p class="text-center">{{ $t("preparing_forms_1") }} {{processedFormCount}} / {{totalFormCount}} {{ $t("preparing_forms_2") }} </p>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
              </div>
            </div>
            <div class="alert alert-success" v-if="uiStatus === 'success'">
              {{ $t("success_check_downloads") }}
            </div>
            <div class="alert alert-danger" v-if="uiStatus === 'failed'">
              {{ $t("de-failed-download") }}
            </div>
            <div class="text-muted" v-if="!isFormValid()">{{ $t("please_enter_all_values") }}</div>
            <button class="btn btn-primary mt-1" v-on:click="doDownload" :disabled="!isFormValid()">{{ $t("download_form") }}</button>
            <h6 class="text-center border-top pt-3 mt-3"><strong>{{ $t("upload_form") }}</strong></h6>
            <upload-forms />
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" v-if="!isLoading">
      <div class="col-sm-8">
        <dump-data />
      </div>
    </div>
    <div class="row justify-content-center" v-if="!isLoading && isZonalDumpVisible">
      <div class="col-sm-8">
        <zonal-dump-data />
      </div>
    </div>
  </div>
</template>

<script>
import { DataEntryForms } from './DataEntryForms'
export default DataEntryForms
</script>

<style scoped>
h1, h2 {
  font-weight: normal;
}
</style>
