<template>
  <div class="container mb-4">
    <div class="row">
      <div class="col-sm">
        <h1 class="text-center">{{ $t("menu_group_mgt") }}</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <div v-if="isError" class="alert alert-danger" role="alert">
          {{ $t("error") }}
        </div>
        <div v-if="isLoading">
          <h3 class="text-center">{{ $t("loading") }}</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" v-if="!isLoading">
      <div class="col-sm">
        <emp-group-search ref="groupSearch" />
        <div class="card mt-4">
          <div class="card-header">
            <h3 class="card-title">{{ $t("em_update_group") }}</h3>
          </div>
          <div class="card-body">
            <h6 class="text-center"><strong>{{ $t("download_form") }}</strong></h6>
            <div class="form-group">
              <label for="ward">
                {{ $t("ward") }}
              </label>
              <select id="ward" class="form-control" v-model="selectedWard" v-on:change="onWardSelected">
                <option disabled value="">{{ $t("please_select") }}</option>
                <option v-for="curr in wards" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="empGroup">
                {{ $t("empowerment_group") }}
              </label>
              <select id="empGroup" class="form-control" v-model="selectedEmpGroup">
                <option disabled value="">{{ $t("please_select") }}</option>
                <option v-for="curr in empGroups" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
              </select>
            </div>
            <div class="alert alert-info" v-if="downloadEmpGroupFormStatus === 'loading'">
              <div class="text-center">{{ $t("preparing") }}</div>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                     role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
              </div>
            </div>
            <div class="alert alert-success" v-if="downloadEmpGroupFormStatus === 'success'">
              {{ $t("success_check_downloads") }}
            </div>
            <div class="alert alert-danger" v-if="downloadEmpGroupFormStatus === 'failed'">
              {{ $t("eg-failed-download") }}
            </div>
            <div class="text-muted" v-if="!selectedWard || !selectedEmpGroup">{{ $t("please_enter_all_values") }}</div>
            <button class="btn btn-primary mb-2" :disabled="!selectedWard || !selectedEmpGroup"
              v-on:click="downloadEmpGroupForm">{{ $t("download_group_info_form") }}</button>
            <h6 class="text-center border-top pt-3 mt-3"><strong>{{ $t("upload_form") }}</strong></h6>
            <upload-form :workbook-processor="workbookProcessorFn" v-on:display-summary="onDisplaySummary" />
              <div v-show="isShowSummary" class="mt-3 alert alert-success text-center">
                {{ $t("upload_summary") }}: {{ $t("updated") }} <strong>{{recordsProcessedCount}}</strong> {{ $t("records") }}
              </div>
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-header">
            <h3 class="card-title">{{ $t("create_new_emp_group") }}</h3>
          </div>
          <div class="card-body">
            <div class="form-group">
              <label for="ward">
                {{ $t("ward") }}
              </label>
              <select id="ward" class="form-control" v-model="selectedWard" v-on:change="onWardSelected">
                <option disabled value="">{{ $t("please_select") }}</option>
                <option v-for="curr in wards" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="fullName">
                {{ $t("empowerment_group_name") }}
              </label>
              <input class="form-control" type="text" id="empGroupName" v-model="empGroupName" maxlength="200">
            </div>
            <div class="alert alert-info" v-if="createEmpGroupStatus === 'creating'">
              {{ $t("creating_new_eg_record") }}
            </div>
            <div class="alert alert-success" v-if="createEmpGroupStatus === 'success'">
              {{ $t("new_eg_record_success") }}
            </div>
            <div class="alert alert-danger" v-if="createEmpGroupStatus === 'failed'">
              {{ $t("new_eg_record_failure") }}
            </div>
            <div class="text-muted" v-if="!isFormValid()">{{ $t("please_enter_all_values") }}</div>
            <button class="btn btn-primary mb-2" :disabled="!isFormValid()" v-on:click="createEmpGroup">{{ $t("create") }}</button>
          </div>
        </div>
        <emp-group-rename ref="groupRename" v-on:orgunits-changed="refreshOrgUnits()" />
        <emp-group-delete ref="groupDelete" v-on:orgunits-changed="refreshOrgUnits()" />
      </div>
    </div>
  </div>
</template>

<script>
import { EmpGroupMgmt } from './EmpGroupMgmt'
export default EmpGroupMgmt
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
</style>
