<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <h1 class="text-center">{{ $t("menu_home") }}</h1>
        <p align="justify">{{ $t("welcome") }}</p>
        <p align="justify">{{ $t("intro") }}</p>
        <h4 class="text-left">{{ $t("header_ta") }}</h4>
        <p align="justify">{{ $t("plhiv_management_instructions_1") }} <router-link to="/user-mgmt">{{ $t("menu_plhiv") }}</router-link>{{ $t("plhiv_management_instructions_2")}} </p>
        <p align="justify">{{ $t("download_instructions_1") }} <router-link to="/data-entry-forms">{{ $t("menu_data_entry_forms") }}</router-link>{{ $t("download_instructions_2") }} </p>
        <p align="justify">{{ $t("upload_instructions_1") }} <router-link to="/data-entry-forms">{{ $t("menu_data_entry_forms") }}</router-link>{{ $t("upload_instructions_2") }} </p>
        <h4 class="text-left">{{ $t("header_beneficiaries") }}</h4>
        <p align="justify">{{ $t("eg_management_instructions_1_1") }} <router-link to="/emp-group-mgmt">{{ $t("menu_group_mgt") }}</router-link>{{ $t("eg_management_instructions_1_2") }} </p>
        <p align="justify">{{ $t("eg_management_instructions_2_1") }} <router-link to="/user-mgmt">{{ $t("menu_plhiv") }}</router-link>{{ $t("eg_management_instructions_2_2") }} </p>
        <p align="justify">{{ $t("eg_management_instructions_3_1") }} <router-link to="/emp-group-mgmt">{{ $t("menu_group_mgt") }}</router-link>{{ $t("eg_management_instructions_3_2") }}</p>
        <p align="justify">{{ $t("eg_management_instructions_4_1") }} <router-link to="/emp-group-mgmt">{{ $t("menu_group_mgt") }}</router-link>{{ $t("eg_management_instructions_4_2") }}</p>
        <p align="justify">{{ $t("click_to_see_1") }} <a target="_blank" href="static/HOWTOs/NACOPHA-SautiYetu-SW-HOWTO-REFERENCE-19118.pdf">{{ $t("click_to_see_3") }}</a></p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Home'
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
</style>

<style>
 nav li:hover,
 nav li.router-link-active,
 nav li.router-link-exact-active {
   background-color: dodgerblue;
   cursor: pointer;
   border-radius: 20px;
 }
</style>
