<template>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-8">
        <h1 class="text-center">{{ $t("messages") }}</h1>
        <div class="card mb-3" v-for="currCon of conversations" :key="currCon.id">
          <div class="card-body">
            <h5 class="card-title">{{currCon.subject}}</h5>
            <p class="card-text text-muted">{{currCon.lastMessage}}</p>
             <ul class="list-group list-group-flush">
               <li class="list-group-item" v-for="currMsg of currCon.messages" :key="currMsg.id">{{currMsg.text}}</li>
             </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import * as zz from './common'

export default {
  name: 'Messages',
  data () {
    return {
      uiState: 'initial',
      conversations: []
    }
  },
  created () {
    this.fetchMessages()
  },
  methods: {
    async fetchMessages () {
      this.uiState = 'loading'
      try {
        const resp = await axios.get(`${zz.apiBaseUrl}/messageConversations`, {
          params: {
            fields: 'id,lastMessage,messageCount,subject,messages[id,text,lastUpdated]',
            paging: false
          }
        })
        this.conversations = resp.data.messageConversations
      } catch (err) {
        this.uiState = 'failed'
        zz.consoleError(`Failed to get message conversations`, err)
        return
      }
      this.uiState = 'success'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
</style>
