<template>
  <b-navbar-nav class="ml-auto">
    <b-nav-form v-if="!isClusterUser">
      <b-form-select v-model="selectedClusterCode" v-on:change="onClusterSelected">
        <option v-for="curr in clusters" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
      </b-form-select>
    </b-nav-form>
    <b-nav-text v-if="isClusterUser">{{ selectedClusterName }}</b-nav-text>

    <b-nav-item-dropdown>
      <template slot="button-content"><em class="clickable">{{ selectedProgramName }}</em></template>
      <b-dropdown-item v-for="curr in programs" :key="curr.id" href="#" v-on:click="onProgramSelected(curr.id)">
        {{curr.displayName}}
      </b-dropdown-item>
    </b-nav-item-dropdown>
    <b-nav-text v-if="isError">(ERROR, check console)</b-nav-text>
    <b-nav-text v-if="!isError">{{username}}</b-nav-text>
    <b-nav-item href="/dhis-web-commons-security/logout.action">
      <span class="clickable">{{ $t("logout") }}</span>
    </b-nav-item>
  </b-navbar-nav>
</template>

<script>
import * as zz from '@/components/common'

export default {
  name: 'ProgramSelector',
  data () {
    return {
      username: '',
      isClusterUser: true,
      clusters: [],
      selectedClusterCode: null,
      programs: [],
      selectedProgramCode: null,
      isError: false
    }
  },
  created () {
    this.fetchData()
  },
  computed: {
    selectedClusterName () {
      const cluster = this.clusters.find(e => e.id === this.selectedClusterCode)
      return (cluster || {}).displayName
    },
    selectedProgramName () {
      if (!this.selectedProgramCode) {
        return null
      }
      return this.programs.find(e => e.id === this.selectedProgramCode).displayName
    }
  },
  methods: {
    onProgramSelected (selectedProgramCode, isInitialParam) {
      const isInitialPageLoad = false || isInitialParam
      this.selectedProgramCode = selectedProgramCode
      localStorage.setItem(zz.selectedProgramIdKey, this.selectedProgramCode)
      this.$emit('program-selected', { isInitial: isInitialPageLoad })
      zz.resetCache()
    },
    onClusterSelected (code) {
      this.selectedClusterCode = code
      if (this.isClusterUser) {
        return
      }
      zz.storeSelectedClusterId(code)
      this.$router.go() // reload to fetch the correct cluster dependent data
    },
    async fetchData () {
      try {
        const itemList = await zz.getProgramList()
        this.programs = itemList.items
        const programCodeToSelect = await zz.getProgramId()
        this.onProgramSelected(programCodeToSelect, true)
      } catch (err) {
        zz.consoleError(`Request to get program list`, err)
        this.isError = true
        return
      }
      try {
        this.isClusterUser = await zz.isUserAtClusterLevel()
        this.clusters = await zz.fetchSuperuserAvailableClusters()
        this.selectedClusterCode = ((await zz.fetchCluster()) || {}).id
        this.username = await zz.fetchMyName()
      } catch (err) {
        zz.consoleError(`Failed to get current user info`, err)
        this.isError = true
      }
    }
  }
}
</script>

<style>
.clickable {
  color: #007bff;
}
</style>
