<template>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1 class="text-center">{{ $t("plhiv_title") }}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <div v-if="isError" class="alert alert-danger" role="alert">
          {{ $t("error") }}
        </div>
        <div v-if="isLoading">
          <h3 class="text-center">{{ $t("loading") }}</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
              aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center" v-if="!isLoading">
      <div class="col-sm">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">{{$t("current_plhiv_title")}}</h5>
          </div>
          <div class="card-body">
            <p>{{ $t("plhiv_instructions_1") }}</p>
            <div class="form-group">
              <label for="ward">
                {{ $t("ward") }}
              </label>
              <select id="ward" class="form-control" v-model="selectedWard">
                <option disabled value="">{{ $t("please_select") }}</option>
                <option :value="clusterId">{{ $t("all_wards") }}</option>
                <option v-for="curr in wards" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
              </select>
            </div>
            <button class="btn btn-primary mb-2" :disabled="!selectedWard" v-on:click="searchForTeis">{{ $t("view_users") }}</button>
            <div class="alert alert-info text-center" v-if="searchTeiStatus === 'searching'">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                  aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
              </div>
              {{ $t("searching") }}
            </div>
            <div class="alert alert-danger" v-if="searchTeiStatus === 'failed'">
              {{ $t("failed_to_search") }}
            </div>
            <div v-if="searchTeiStatus === 'success'">
              <div v-if="isFilterActive" class="alert alert-info text-center">
                {{ $t("filter_active") }}
                <button class="btn btn-link" v-on:click="resetTableFilters">{{ $t("filter_reset") }}</button>
              </div>
              <ag-grid-vue
                class="ag-theme-balham the-grid"
                :columnDefs="columnDefs"
                :rowData="rowData"
                rowSelection="multiple"
                :selectionChanged="rowSelectionChanged"
                :suppressRowClickSelection="false"
                :rowMultiSelectWithClick="true"
                :enableSorting="true"
                :enableFilter="true"
                :enableColResize="true"
                :gridReady="onGridReady"
                :filterChanged="onGridFilterChanged"
                :cellDoubleClicked="cellDoubleClicked"
                :localeText="getLocaleText()"
                />
                <div class="text-right mt-1 text-muted">{{ $t("displayed_row_count") }} {{displayedRowCount}} | {{ $t("total_row_count") }} {{rowData.length}}</div>
              <h6 class="border-top pt-3 mt-3"><strong>{{ $t("move_plhiv") }}</strong></h6>
              <div class="form-group">
                <label for="orgUnit1">
                  {{ $t("target_ward_or_emp_group") }}
                </label>
                <select id="orgUnit1" class="form-control" v-model="selectedOrgUnit"
                    :disabled="!selectedTeis.length" v-on:change="onOrgUnitForMoveSelected">
                  <option disabled value="">({{ $t("no_selection") }})</option>
                  <option v-for="curr in wardsAndGroups" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
                </select>
              </div>
              <div v-if="isCtcEntryRequired()" class="alert alert-warning">
                <div class="text-center"><strong>{{ $t("ctc_required") }}</strong></div>
                <p>{{ $t("ctc_required_blurb") }}</p>
                <div class="form-group row" v-for="(curr, index) in teisForMoveWithNoCtc" :key="curr.id">
                  <label :for="'ctc' + index" class="col-sm-4 col-form-label">{{curr.fullName}}</label>
                  <div class="col-sm-8">
                    <input class="form-control" type="text" v-model="curr.ctc" :id="'ctc' + index" v-on:change="isMoveFormValid()">
                    <div class="invalid-feedback nacopha-validation-msg" v-if="curr.validationMsg">{{curr.validationMsg}}</div>
                  </div>
                </div>
              </div>
              <button class="btn btn-primary mb-3" :disabled="!isMoveFormValid()" v-on:click="moveTeis">
                {{ $t("move_0") }} {{selectedTeis.length}} {{ $t("move_1") }}
              </button>
              <span class="text-muted" v-if="!selectedOrgUnit || !selectedTeis.length">
                {{ $t("please_select_at_least_one_ward_then_group") }}
              </span>
              <div class="alert alert-info" v-if="moveTeiStatus === 'loading'">
                <p class="text-center"> {{ $t("processing_move_beneficiary") }} {{movedTeiCount}} / {{teisToMoveCount}}.</p>
                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                       aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
                </div>
              </div>
              <div class="alert alert-success text-center" v-if="moveTeiStatus === 'success'">
                {{ $t("successfully_moved_beneficiary") }}
              </div>
              <div class="alert alert-danger text-center" v-if="moveTeiStatus === 'failed'">
                {{ $t("failed_to_move_beneficiary") }}
              </div>
              <div class="alert alert-danger text-center" v-if="moveTeiStatus.singleFailure">
                {{ $t("failed_to_move_beneficiary_single") }} "{{moveTeiStatus.msg}}"
              </div>
            </div>
          </div>
        </div>
        <create-tei />
      </div>
    </div>
  </div>
</template>

<script>
import { UserMgmt } from './UserMgmt'
export default UserMgmt
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

.req {
  color: red;
  margin-left: 0.1em;
}

.invalid-ctc {
  border-color: red;
  background-color: pink;
}

.the-grid {
  width: 100%;
  height: 50em;
}

.nacopha-validation-msg.invalid-feedback {
  display: block;
}
</style>
