<template>
  <div class="card mt-4">
    <div class="card-header">
      <h3 class="card-title">Data element mapping</h3>
    </div>
    <div v-if="uiState === 'fetching'" class="card-body alert alert-info">
      <h3 class="text-center">{{ $t("loading") }}</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
    </div>
    <div class="card-body" v-if="uiState !== 'fetching'">
      <p>
        Before configuring these options, configure the Sauti Yetu Program ID, then save and reload the
        page. It's not ideal having config in an order but we need to configure Date of Service for all other
        programs and until we know the ID for Sauti Yetu, we can't exclude that from this list.
      </p>
      <div v-if="!isSYProgramSelectedYet">
        <div class="alert alert-warning">
          Select Sauti Yetu program ID first, then refresh page and enter these values
        </div>
      </div>
      <label>
        Max form count
        <input type="number" v-model="maxFormCount" min="1" max="99" v-on:change="onMaxFormCountChange" />
      </label>
      <div v-if="isSYProgramSelectedYet">
        <div v-for="currProg in programs" :key="currProg.id">
          <div v-for="currFormId in formIds" :key="currFormId">
            <label>
              {{currProg.displayName}} program form {{currFormId}} "Date of Service" data element
              <select v-model="formDosElements[currProg.id + '_' + currFormId]" v-on:change="onDosChange">
                <option v-for="curr in dataElements" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
              </select>
            </label>
          </div>
        </div>
        <button class="btn btn-primary mb-1" v-on:click="save" :disabled="!isValid">
          Save data element ID mappings
        </button>
        <div v-if="uiState === 'failed'" class="alert alert-danger" role="alert">
          Failed to save data element ID mappings, check console.
        </div>
        <div v-if="uiState === 'saving'" class="alert alert-info" role="alert">
          Saving data element ID mappings...
        </div>
        <div v-if="uiState === 'success'" class="alert alert-success" role="alert">
          data element ID mapping save completed!
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import DataElements from './DataElements'
export default DataElements
</script>

<style scoped>
</style>
