<template>
  <div class="card mt-1">
    <div class="card-header">
      <h3 class="card-title text-center">Template management</h3>
      <h4 class="card-title">Template type: {{templateTypeName}}</h4>
      <h4 class="card-title">Program: {{programName}}</h4>
    </div>
    <div class="card-body">
      <div class="alert alert-info" role="alert">
        Be sure to upload <strong>.xlsx</strong> files!<br />
        We don't check what you upload but you'll get weird error at runtime if you upload something
        else, like a .ods.
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>Locale</th>
            <th>Modified date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="!templateLastModified.length">
            <td colspan="2" class="text-center text-muted">No templates uploaded yet</td>
          </tr>
          <tr v-for="curr of templateLastModified" :key="curr.locale" v-if="templateLastModified.length">
            <td>{{curr.locale}}</td>
            <td>{{curr.lastModifiedDate}}</td>
            <td><a class="btn btn-sm btn-success" v-on:click="downloadExisting(curr.locale)">download</a></td>
          </tr>
        </tbody>
      </table>
      <div class="form-group">
        <label for="templateFileInput">
          Template file:
        </label>
        <input id="templateFileInput" type="file" ref="templateFile" v-on:change="templateFileSelected" class="form-control" />
      </div>
      <div class="form-group">
        <label for="locale">
          Template locale:
        </label>
        <select id="locale" v-model="templateLocale" class="form-control">
          <option v-for="curr in availableLocales" :key="curr.locale" :value="curr.locale">{{curr.locale}}: {{curr.name}}</option>
        </select>
      </div>
      <button class="btn btn-primary mb-1" :disabled="!templateFile || !templateLocale" v-on:click="doUpload">
        Upload selected template
      </button>
      <div v-if="processingState === 'loading'" class="alert alert-info" role="alert">
        Uploading and processing...
      </div>
      <div v-if="processingState === 'failed'" class="alert alert-danger" role="alert">
        Failed to upload, check browser console for details.
      </div>
      <div v-if="processingState === 'success'">
        <div class="alert alert-success" role="alert">Upload success!</div>
        <dl>
          <dt>File resource ID</dt>
          <dd>{{uploadResult.fileResourceId}}</dd>
          <dt>Document UID</dt>
          <dd>{{uploadResult.docUid}}</dd>
        </dl>
      </div>
    </div>
  </div>
</template>

<script>
import { FormMgmt } from './FormMgmt'
export default FormMgmt
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
</style>
