<template>
  <div class="card mt-4">
    <div class="card-header">
      <h3 class="card-title">Max reporting periods</h3>
    </div>
    <div v-if="uiState === 'fetching'" class="card-body alert alert-info">
      <h3 class="text-center">{{ $t("loading") }}</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
    </div>
    <div class="card-body" v-if="uiState !== 'fetching'">
      <p>
        Enter only an integer. This number is the number of reporting periods that
        will be "open" at any one time. For example, 6 months means that the current
        month and the 5 preceeding months can have data entry forms downloaded/uploaded.
      </p>
      <div class="form-group">
        <label for="prefix">
          Max reporting periods
        </label>
        <input type="number" min="1" max="100" v-model="theValue" id="prefix" class="form-control" />
      </div>
      <button class="btn btn-primary mb-1" v-on:click="save" :disabled="!isValid()">
        Save value
      </button>
      <div v-if="uiState === 'failed'" class="alert alert-danger" role="alert">
        Failed to save value, check console.
      </div>
      <div v-if="uiState === 'saving'" class="alert alert-info" role="alert">
        Saving value...
      </div>
      <div v-if="uiState === 'success'" class="alert alert-success" role="alert">
        Value save completed!
      </div>
    </div>
  </div>
</template>

<script>
import { MaxPeriods } from './MaxPeriods'
export default MaxPeriods
</script>

<style scoped>
</style>
