<template>
  <div class="card mt-4">
    <div class="card-header">
      <h3 class="card-title">OrgUnit attribute mapping</h3>
    </div>
    <div v-if="uiState === 'fetching'" class="card-body alert alert-info">
      <h3 class="text-center">{{ $t("loading") }}</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
    </div>
    <div class="card-body" v-if="uiState !== 'fetching'">
      <div class="form-group">
        <label for="village">
          Village attribute
        </label>
        <select v-model="village" id="village" class="form-control">
          <option v-for="curr in attributes" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="grn">
          Group registration number attribute
        </label>
        <select v-model="groupRegoNum" id="grn" class="form-control">
          <option v-for="curr in attributes" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="eg1">
          Economic activity group 1 attribute
        </label>
        <select v-model="economicGroup1" id="eg1" class="form-control">
          <option v-for="curr in attributes" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="eg2">
          Economic activity group 2 attribute
        </label>
        <select v-model="economicGroup2" id="eg2" class="form-control">
          <option v-for="curr in attributes" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="eg3">
          Economic activity group 3 attribute
        </label>
        <select v-model="economicGroup3" id="eg3" class="form-control">
          <option v-for="curr in attributes" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="chg1">
          Community HIV activity group 1 attribute
        </label>
        <select v-model="communityHivGroup1" id="chg1" class="form-control">
          <option v-for="curr in attributes" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="chg2">
          Community HIV activity group 2 attribute
        </label>
        <select v-model="communityHivGroup2" id="chg2" class="form-control">
          <option v-for="curr in attributes" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="chg3">
          Community HIV activity group 3 attribute
        </label>
        <select v-model="communityHivGroup3" id="chg3" class="form-control">
          <option v-for="curr in attributes" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sg1">
          Social activity group 1 attribute
        </label>
        <select v-model="socialGroup1" id="sg1" class="form-control">
          <option v-for="curr in attributes" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sg2">
          Social activity group 2 attribute
        </label>
        <select v-model="socialGroup2" id="sg2" class="form-control">
          <option v-for="curr in attributes" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="sg3">
          Social activity group 3 attribute
        </label>
        <select v-model="socialGroup3" id="sg3" class="form-control">
          <option v-for="curr in attributes" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
        </select>
      </div>
      <button class="btn btn-primary mb-1" v-on:click="save" :disabled="!isValid()">
        Save orgUnit attribute ID mappings
      </button>
      <div v-if="uiState === 'failed'" class="alert alert-danger" role="alert">
        Failed to save orgUnit attribute ID mappings, check console.
      </div>
      <div v-if="uiState === 'saving'" class="alert alert-info" role="alert">
        Saving orgUnit attribute ID mappings...
      </div>
      <div v-if="uiState === 'success'" class="alert alert-success" role="alert">
        OrgUnit attribute ID mapping save completed!
      </div>
    </div>
  </div>
</template>

<script>
import { OrgAttributes } from './OrgAttributes'
export default OrgAttributes
</script>

<style scoped>
</style>
