<template>
  <div class="card mt-4">
    <div class="card-header">
      <h3 class="card-title">OrgUnit group mapping</h3>
    </div>
    <div class="card-body">
      <div class="form-group">
        <label for="orgUnitGroup">
          OrgUnit group that new empowerment groups should be made a part of
        </label>
        <div v-if="uiState === 'fetching'" class="alert alert-info" role="alert">
          Loading...
        </div>
        <select v-model="orgUnitGroup" id="orgUnitGroup" v-if="uiState !== 'fetching'" class="form-control">
          <option v-for="curr in groups" :key="curr.id" :value="curr.id">{{curr.displayName}}</option>
        </select>
      </div>
      <button class="btn btn-primary mb-1" v-on:click="save" :disabled="!isValid()">
        Save orgUnit group ID mappings
      </button>
      <div v-if="uiState === 'failed'" class="alert alert-danger" role="alert">
        Failed to save orgUnit group ID mappings, check console.
      </div>
      <div v-if="uiState === 'saving'" class="alert alert-info" role="alert">
        Saving orgUnit group ID mappings...
      </div>
      <div v-if="uiState === 'success'" class="alert alert-success" role="alert">
        OrgUnit group ID mapping save completed!
      </div>
    </div>
  </div>
</template>

<script>
import { OrgUnitGroup } from './OrgUnitGroup'
export default OrgUnitGroup
</script>

<style scoped>
</style>
