<template>
  <div class="card mt-4">
    <div class="card-header">
      <h3 class="card-title">Zone label prefix value</h3>
    </div>
    <div v-if="uiState === 'fetching'" class="card-body alert alert-info">
      <h3 class="text-center">{{ $t("loading") }}</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div>
    </div>
    <div class="card-body" v-if="uiState !== 'fetching'">
      <p>
        The "organisation unit groups" that we use to indicate zones have a prefix in their name. This is important
        for two reasons: 1) so we can find them amongst the other groups, and 2) so we can strip the prefix off before
        using the value.
      </p>
      <div class="form-group">
        <label for="prefix">
          Zone label prefix
        </label>
        <input type="text" v-model="theValue" id="prefix" class="form-control" />
      </div>
      <button class="btn btn-primary mb-1" v-on:click="save" :disabled="!isValid()">
        Save prefix
      </button>
      <div v-if="uiState === 'failed'" class="alert alert-danger" role="alert">
        Failed to save prefix, check console.
      </div>
      <div v-if="uiState === 'saving'" class="alert alert-info" role="alert">
        Saving prefix...
      </div>
      <div v-if="uiState === 'success'" class="alert alert-success" role="alert">
        Prefix save completed!
      </div>
    </div>
  </div>
</template>

<script>
import { ZoneLabelPrefix } from './ZoneLabelPrefix'
export default ZoneLabelPrefix
</script>

<style scoped>
</style>
