<template>
  <div id="app">
    <b-navbar toggleable="md" type="light" variant="light" fixed="top">
      <b-navbar-brand>
        <router-link to="/home">NACOPHA</router-link>
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item v-if="isSautiYetu" to="/home">{{
            $t('menu_home')
          }}</b-nav-item>
          <b-nav-item v-if="isSautiYetu" to="/user-mgmt">{{
            $t('menu_plhiv')
          }}</b-nav-item>
          <b-nav-item v-if="isSautiYetu" to="/emp-group-mgmt">{{
            $t('menu_group_mgt')
          }}</b-nav-item>
          <b-nav-item to="/data-entry-forms">{{
            $t('menu_data_entry_forms')
          }}</b-nav-item>
          <!--
          <b-nav-item v-if="isSautiYetu" to="/messages">{{ $t("messages") }}</b-nav-item>
          -->
          <b-nav-item href="/dhis-web-dashboard/index.html">{{
            $t('dashboard')
          }}</b-nav-item>
          <!--
          <b-nav-item href="/api/apps/Tracker-Data-Exporter/index.html">
            {{ $t("reports") }}
          </b-nav-item>
          -->
        </b-navbar-nav>

        <!-- Right aligned nav items -->
        <program-selector
          v-on:program-selected="onProgramSelected"
        ></program-selector>
      </b-collapse>
    </b-navbar>

    <div class="clearfix padded">
      <b-img
        class="ml-3 mr-1 mt-5"
        left
        src="static/NACOPHA_logo_Sept19_small.png"
        alt="NACOPHA"
      />
      <router-view />
      <b-img
        class="ml-3 mr-1 dimmed"
        right
        src="static/dove.png"
        alt="NACOPHA"
      />
    </div>
    <b-modal
      ref="reload-needed-modal"
      :title="$t('session_expired_title')"
      header-bg-variant="danger"
      header-text-variant="light"
    >
      <p>{{ $t('session_expired_body') }}</p>
      <div slot="modal-footer" class="w-100 text-right">
        <b-button
          variant="secondary"
          size="sm"
          class="mr-2"
          @click="closeModal"
        >
          {{ $t('close_ill_reload') }}
        </b-button>
        <b-button variant="primary" size="sm" @click="reloadNow">
          {{ $t('reload_now') }}
        </b-button>
      </div>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios'
import * as zz from '@/components/common'
import ProgramSelector from '@/components/ProgramSelectorComponent'

export default {
  name: 'App',
  data() {
    return {
      isSautiYetu: false,
    }
  },
  components: {
    'program-selector': ProgramSelector,
  },
  mounted() {
    this.registerSessionExpirationHandler()
    this.registerSessionKeepAlive()
  },
  methods: {
    async onProgramSelected(params) {
      this.isSautiYetu = await zz.isSautiYetuProgram()
      if (params.isInitial) {
        return // route guards are already being run, don't go into infinite loop
      }
      this.$router.go() // reload to re-evaluate route guards
    },
    getModal() {
      return this.$refs['reload-needed-modal']
    },
    showModal() {
      this.getModal().show()
    },
    closeModal() {
      zz.resetCache() // cached failures mean our axios interceptor isn't hit
      this.getModal().hide()
    },
    reloadNow() {
      location.reload()
    },
    registerSessionExpirationHandler() {
      const self = this
      // we need to do this here (and not in common.js) so we have access to
      // show the modal to the user and the modal is available on every page
      axios.interceptors.response.use(
        function(response) {
          const contentType = response.headers['content-type'] || '' // 204 has no content
          const isHtml = contentType.indexOf('text/html') >= 0
          if (!isHtml) {
            return response
          }
          console.warn(
            "HTML was returned in response, assuming we're logged out",
          )
          self.showModal()
          const first100 = String(response.data).substr(0, 100)
          const error = new Error(
            'Response is HTML, assuming we are logged out.' +
              ' First 100 chars of body=' +
              first100,
          )
          return Promise.reject(error)
        },
        function(error) {
          return Promise.reject(error)
        },
      )
    },
    registerSessionKeepAlive() {
      // you might wonder why we need the expiration handler if we have this. I
      // can see a situation where a laptop is hibernated, so no code is executing
      // (and no keep-alive), and then when it wakes up and makes a request we
      // need to handle the session expiration.
      const msToMinutes = 60 * 1000
      const keepAliveFrequencyMinutes = 1 * msToMinutes
      setInterval(function() {
        console.debug('sending NOOP to keep session alive')
        axios.get(`${zz.apiBaseUrl}/me`, {
          params: {
            fields: 'lastUpdated',
            isNoop: 'yes', // DHIS will ignore this
          },
        })
      }, keepAliveFrequencyMinutes)
    },
  },
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.card-header {
  background-color: rgba(167, 223, 246, 0.51);
}
.navbar-custom {
  background-color: rgba(254, 243, 115, 0.8);
}
.ag-theme-balham .ag-header {
  background-color: rgba(254, 243, 115, 0.8);
}
.dimmed {
  opacity: 0.2;
}
.active {
  background-color: rgba(254, 243, 115, 0.8);
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
}
.padded {
  padding-top: 130px;
}
</style>
